[defaults]
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
inventory = inventory/aws_ec2.yml
roles_path = ./roles
host_key_checking = False
retry_files_enabled = False

[persistent_connection]
command_timeout = 3600
connect_timeout = 30